footer{
    background-color: #f7f7f7;
    height:250px
}
.footer-info{
    padding-top: 95px;
}
.footer-info .info-title{
    font-family:"Lato Bold" ;
    font-size: 16px; 
    color:#8d9092;
    text-align: left;
    margin-bottom: 0;
}
.footer-info .info{
    font-family:"Lato Italic" ;
    font-size: 14px;
    color:#a7a9aa;
}
.footer-network{
    padding:40px;
}
.footer-network ul{
    display: flex;
    padding-top:110px ;
}
.footer-network ul li{
    list-style: none;
    justify-content: center;
    margin-right: 15px;
}

.fa-twitter:before {
    content: "\f081";
    color:#78cdf0;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    font-size: 40px;
}
/* .fa-facebook:before {
    content: "\f09a";
    
} */
.fa-facebook-square:before {
    content: "\f082";
    color:#537bbd;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    font-size: 40px;
}
.fa-pinterest-square:before {
    content: "\f0d3";
    color:#eb5755;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    font-size: 40px;
}
.footer-logo{
    padding-top: 100px;
    text-align: center;
}
.footer-logo .logo-title{
    font-family:"Lato Italic" ;
    font-size: 14px;
    color:#a7a9aa;  
}
