header{
    background-image: url("../img/header.jpg");
    height: 800px;
  background-repeat: inherit; 
}
.menu{
    padding-top: 70px;
    
}
.menu ul{
    justify-content: center;
    list-style: none;
    display: flex;
   
}
.menu ul li a{
    margin-left: 35px;
    margin-right: 35px;
    font-family:"Lato Bold" ;
    font-size: 18px;
    color:#4d4959;
    text-decoration: none;
}
.menu ul li a:hover{
    color:white;
    background-color:#4d4959 ;
}